<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="companyFilePath" value="D:\companies.json"/>
    <add key="ExportExcelPath" value="C:\Excel"/>
    <add key="settingFilePath" value="E:\c# freelance\settings.json"/>
    <add key="templateFilePath" value="E:\c# freelance\template.xlsx"/>
  </appSettings>
</configuration>